
.banner button {
    width: 180px;
    padding: 10px;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
    border: 1px solid #FEA116;
    margin-left: -45px;
    border-radius: 0px;
}
.banner {
    /* background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url(img/bg-hero.jpg); */
    background-repeat: no-repeat;
    background-color: rgba(172, 161, 161, 0.432);
    padding-top: 80px;
    padding-bottom: 130px;
}
.sosage img {
    width: 90%;
    height: auto;
    animation: rotation 50s infinite linear;
}
@keyframes rotation{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
.banner h1 {
    color: #FFE;
    font-size: 64px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    margin-left: -45px;
}
.banner p {
    margin-left: -45px;
    color: #fff;
    font-size: 16px;
    /* font-family: Heebo,sans-serif; */
    padding: 0px 0px 8px;
    font-weight: 600;
}
.banner button{
       width:180px;
       padding: 10px;
       color: #fff;
        font-family: 'Nunito', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        transition: .5s;
        margin-left: -45px;

}